:root {
  --brand: #1aa64f;
  --sub: #eba60a;
  --body: #516171;
  --border: rgba(0,0,0,0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
  height: 40px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  background: transparent;
  border: 2px solid var(--brand);
  transition: .5s;
}

.testimonial-carousel .owl-dot.active {
  width: 30px;
  height: 30px;
  background: var(--brand);
}

.testimonial{
  border: 2px solid var(--brand);
  border-radius: 30px;
}

.sub-img{
  border-radius: 10px;
}

.product-btn a{
  padding: 10px 20px;
  background-color: var(--brand);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid var(--brand);
}
.product-btn a:hover{
  background-color: transparent;
  color: var(--brand);
  border: 1px solid var(--brand);
}

/* .smart-home{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* .smart-home img{
  width: 500px;
  height: 350px;
} */

@media (max-width: 575px){
  .smart-home img{
    width: 300px;
    height: 180px;
  }
}


.service-box{
  display: inline-block;
  background-color: var(--sub);
  border-radius: 50px;
  width: 750px;
}
.service-box:hover .service-img img{
  transform: rotate(360deg)
}
.service-box:hover .service-head{
  color: var(--brand);
}
.service-box-1{
  padding:13px 30px 13px 10px;
}
.service-box-2{
  padding:13px 10px 13px 30px;
}
.service-img img{
  transition: 0.5s;
  height: 30px;
}
.service-img{
  padding: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}
.s-img-1{
  margin-right: 20px;
}
.s-img-2{
  margin-left: 20px;
}
.service-box .service-head{
  color: white;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
}
@media (max-width:991px){
  .services{
    width: 100%;
    overflow-x: hidden;
  }
  .service-box{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .service-img{
    padding: 15px;
    background-color: #ffffff;
    border-radius: 50%;
  }
  .service-img img{
    height: 50px;
  }
  .service-box-1{
    padding:13px 30px 13px 15px;
  }
  .service-box-2{
    padding:13px 15px 13px 30px;
  }
}

@media (max-width:567px){
  .services{
    width: 100%;
    overflow-x: hidden;
  }
}  

@media only screen and (min-width: 1316px) {
  .fplus-single-feature {
    height: 380px;
  }
}
/* @media only screen and (min-width: 768px) and (max-width: 991px){
  .fplus-single-feature {
    height: 300px;
  }
} */
@media only screen and (min-width: 992px) and (max-width: 1316px){
  .fplus-single-feature {
    height: 730px;
  }
}



/* Image Gallery */
.untree_co-section {
  padding: 100px 0;
  position: relative;
}

@media (max-width: 991.98px) {
  .untree_co-section {
      padding: 50px 0;
  }
}

.untree_co-section .heading h3 {
  font-size: 35px;
  color: #000000;
}

@media (max-width: 991.98px) {
  .untree_co-section .heading {
      font-size: 20px;
  }
}

.untree_co-section .heading strong {
  font-weight: 700;
}

.item {
  border: none;
  margin-bottom: 30px;
  border-radius: 4px;
  display: block;
}

.item a {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  display: block;
}

.item a img {
  position: relative;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.item .item-wrap {
  display: block;
  position: relative;
  border-radius: 10px;
}

.item .item-wrap:after {
  z-index: 2;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.item .item-wrap > i {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  color: #ffffff;
  font-size: 1.7rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}

.item .item-wrap:hover i {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

/* .item:hover a  img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
} */

.item-wrap:hover img{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}